@charset "UTF-8";
.products__item-photo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.price__limit input[type=number], .popup__quantity {
  background: #f9f9f9;
  padding: 12px 18px;
  max-width: 110px;
  outline: none;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 12px;
}

*:not(i),
*:not(i)::before,
*:not(i)::after {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  color: #151515;
  font-size: 12px;
}
body::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 0;
}
body::-webkit-scrollbar-thumb {
  width: 6px;
  background: linear-gradient(to bottom, #bbb, #ccc);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
body.dark {
  background-color: #121212;
  color: #fff;
}
body.dark::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #333, #444);
}
body.dark i,
body.dark .header__contacts-item:not(:first-child) > a,
body.dark .header .logo,
body.dark .footer .logo,
body.dark .source {
  color: #fff;
}
body.dark .header__search {
  background-color: #202020;
  border: 1px solid #3e3e3e;
}
body.dark .header__search-drop {
  background-color: #202020;
}
body.dark .header__search-drop > a {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  color: #fff;
}
body.dark .header__search-drop > a:hover {
  text-decoration: underline;
}
body.dark .header__search-categories::after {
  background-color: #3e3e3e;
}
body.dark .header__search input {
  background-color: #202020;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #d1d1d1;
}
body.dark .header__search input::placeholder {
  color: #939393;
}
body.dark .header__search-btn {
  background-color: #202020;
}
body.dark .header__search-btn svg path {
  stroke: #fff;
}
body.dark .header__user-account svg path, body.dark .header__user-cart svg path {
  stroke: #fff;
}
body.dark .navigation {
  background-color: #202020;
}
body.dark .navigation > .container {
  max-width: 1205px;
}
body.dark .navigation__info > svg {
  fill: #fff;
}
body.dark .navigation__list-item button {
  background-color: #202020;
  color: #fff;
}
body.dark .drop-list {
  background-color: #202020;
}
body.dark .drop-list a {
  color: #fff;
}
body.dark .products__item-title > a {
  color: #fff;
}
body.dark .related__more > a {
  color: #fff;
}
body.dark .popup {
  background-color: #121212;
}
body.dark .popup__close path {
  stroke: #fff;
}
body.dark .popup__title, body.dark .popup__price-title, body.dark .popup__price {
  color: #fff;
}
body.dark .popup__products-block::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #333, #444);
}
body.dark .popup__product-title {
  color: #fff;
}
body.dark .popup__product-price {
  color: #5a882d;
}
body.dark .popup__quantity {
  background-color: #202020;
  border: 1px solid #3e3e3e;
}
body.dark .popup__remove, body.dark .popup__remove > .far {
  color: #ffaa8a;
}
body.dark .footer {
  background-color: #202020;
}

a {
  text-decoration: none;
  color: #151515;
}

li {
  list-style: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 45px;
}

.link {
  white-space: nowrap;
}
.link a {
  color: #6a983c;
}
.link a:hover {
  text-decoration: underline;
}

.header__top {
  padding: 15px 0;
}
.header__bottom {
  padding: 40px 0;
}
.header__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__search {
  display: flex;
  max-width: 500px;
  width: 90vw;
  height: 66px;
  background: #f9f9f9;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}
.header__search-drop {
  cursor: pointer;
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  background: #f9f9f9;
  border: none;
}
.header__search-drop::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../images/arr-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  top: 16%;
  left: 104%;
}
.header__search input {
  width: 100%;
  height: 64px;
  font-family: Montserrat;
  background: #f9f9f9;
  border: none;
  margin-left: 25px;
  flex-grow: 1;
  outline: none;
  color: #111;
}
.header__search-categories {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 37px;
}
.header__search-categories::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 44px;
  background-color: #d1d1d1;
}
.header__search-categories:hover {
  margin-top: 131px;
  height: 175px;
  z-index: 1;
}
.header__search-categories:hover .main-drop-list {
  opacity: 1;
  top: 55px;
}
.header__search-btn {
  background: #f9f9f9;
  width: 20px;
  height: 20px;
  border: none;
  margin-left: auto;
}
.header__search-btn svg {
  cursor: pointer;
  position: relative;
  height: 100%;
}
.header__search-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header .header__contacts {
  height: 33.6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header .header__contacts-item {
  margin-right: 33px;
}
.header .header__contacts-item:last-child {
  margin-right: 0;
}
.header .header__topics {
  display: flex;
}
.header .header__topics-item {
  margin-right: 33px;
}
.header .header__topics-item:last-child {
  margin-right: 0;
}
.header__user {
  position: relative;
  display: flex;
  align-items: center;
}
.header__user > a {
  cursor: pointer;
}
.header__user-account {
  margin-right: 40px;
}
.header__user-cart {
  position: relative;
}
.header__user-cart .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  background: #E6704B;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  min-width: 16px;
  height: 16px;
  padding: 3px;
  color: white;
}
.header__user-product {
  font-family: "Font Awesome 6 Pro";
}
.header__user-dark-mode, .header__user-product {
  margin-left: 40px;
  font-size: 24px;
}

.popup {
  transition: transform 1s, opacity 1s, z-index 0s 1s;
  position: absolute;
  top: 50px;
  left: -204px;
  width: 400px;
  max-height: 600px;
  background-color: #fff;
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.15);
  border-radius: 20px 0 20px 20px;
  transform: scale(0);
  transform-origin: right top;
  opacity: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup.active {
  transition: transform 1s, opacity 1s, z-index 0s;
  transform: scale(1);
  opacity: 1;
  z-index: 1;
}
.popup__close {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 16px;
  width: 16px;
  height: 16px;
  z-index: 1;
}
.popup__products-block {
  width: 100%;
  overflow-x: hidden;
}
.popup__products-block::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 0;
}
.popup__products-block::-webkit-scrollbar-thumb {
  width: 6px;
  background: linear-gradient(to bottom, #bbb, #ccc);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.popup__title {
  position: relative;
  top: 14px;
  left: 16px;
  margin-bottom: 24px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  color: #151515;
}
.popup__product {
  position: relative;
  margin: 12px 16.5px;
  width: 367px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.popup__product-title {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #151515;
}
.popup__product-price {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #6a983c;
}
.popup__product-prev-price {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #a9a9a9;
  text-decoration: line-through;
}
.popup__sidebar {
  width: 100px;
  height: 100%;
}
.popup__image {
  width: 100%;
  height: 67px;
  object-fit: cover;
  border-radius: 12px;
}
.popup__remove {
  cursor: pointer;
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
}
.popup__remove, .popup__remove > .far {
  color: #800404;
}
.popup__remove:hover {
  text-decoration: underline;
}
.popup__quantity {
  position: absolute;
  right: 0;
  bottom: 0;
}
.popup__content {
  width: 251px;
  height: 67px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.popup__price-block {
  margin: 24px 16.5px;
  display: flex;
  justify-content: space-between;
}
.popup__price-title {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #151515;
}
.popup__price {
  margin-top: 6px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #151515;
}

.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay > a {
  margin: 6px 0;
  color: #fff;
  font-size: 16px;
}

.tel {
  white-space: nowrap;
}

.navigation {
  background-color: #f9f9f9;
  display: flex;
}
.navigation__info {
  cursor: pointer;
  position: absolute;
  display: none;
  margin-left: calc(100% - 55px);
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
}
.navigation__info > svg {
  width: 22px;
  height: 22px;
  fill: #000;
}

.navigation__list {
  min-height: 55px;
  max-height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.navigation__list-item {
  position: relative;
  width: 120px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__list-item button {
  cursor: pointer;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.navigation__list-item button svg {
  position: relative;
  top: 3.9px;
  left: 3.9px;
  width: 16px;
  height: 16px;
}
.navigation__list-item:hover {
  top: 16px;
  align-items: flex-start;
}
.navigation__list-item:hover .drop-list {
  transition: z-index 0s, opacity 0.5s;
  top: 39px;
  z-index: 1;
  opacity: 1;
}

.drop-list {
  transition: z-index 0s 0.5s, opacity 0.5s;
  position: absolute;
  opacity: 0;
  top: 55px;
  background-color: #f1f1f1;
  min-width: 120px;
  height: 120px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: -1;
}
.drop-list > div {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop-list > div > a {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.drop-list > div > a:hover {
  text-decoration: underline;
}

.main-drop-list {
  top: 55px;
}

.navigation__list-item:last-child {
  margin-right: 0;
}

.drop {
  background-color: #f9f9f9;
  border: none;
}

.cost {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.prev-cost {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #a9a9a9;
}

.button {
  background: #6a983c;
  cursor: pointer;
  border: 2px solid #46760a;
  box-sizing: border-box;
  padding: 7px 12px;
  border-radius: 12px;
  line-height: 22px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.button,
.button > span {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.related {
  margin-top: 100px;
}
.related__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}
.related__more {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
}
.related__more > a {
  font-family: Poppins;
  color: #000;
}
.related__more > a:hover {
  text-decoration: underline;
}
.related__more > span {
  font-family: Poppins;
  color: #6A983C;
  font-weight: 600;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.products__item {
  position: relative;
  width: calc(33.33333% - 21.33333px);
  border: 1px solid #D1D1D1;
  padding: 16px;
  border-radius: 12px;
}
.products__item-photo {
  width: 100%;
  height: 180px;
  background-color: #f9f9f9;
  border-radius: 12px;
}
.products__item-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin: 16px 0 4px 0;
}
.products__item-title a {
  font-family: Montserrat, sans-serif;
}
.products__item-title a:hover {
  text-decoration: underline;
}
.products__item-text {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
  margin-bottom: 16px;
}
.products__item-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__item-discount {
  position: absolute;
  bottom: calc(100% - 58px);
  right: 24px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #000;
}

.footer {
  margin-top: 100px;
  width: 100%;
  height: 55px;
  background-color: #f9f9f9;
}
.footer > .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo, .footer .logo {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #151515;
}

.source {
  color: #151515;
  font-size: 16px;
  text-decoration: none;
}
.source:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1260px) {
  .products__item {
    width: calc(50% - 16px);
  }
}
@media screen and (max-width: 992px) {
  .popup {
    left: 0px;
  }
}
@media screen and (max-width: 900px) {
  .products__item {
    width: 100%;
  }
}
@media screen and (max-width: 840px) {
  .popup {
    left: -204px;
  }
}
@media screen and (max-width: 750px) {
  .header__bottom > .header-wrap {
    flex-wrap: none;
  }
  .header__wrap {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .logo,
  .header__search {
    margin-bottom: 20px;
  }
  .logo input,
  .header__search input {
    margin-left: 12px;
  }
  .header__container {
    padding: 20px 0;
  }
  .popup {
    left: -124px;
  }
  .navigation__info {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .header__top {
    display: none !important;
  }
  .navigation__list {
    gap: 0;
  }
}